.content {
    margin: 20px;
    width: 70vw;
    max-width: 1000px;
    text-align: justify;
    height: fit-content;
    font-family: "Georgia";
    line-height: 30px;
    font-size: 20px;
    align-self: center;
    height: 100%;
    overflow-y: auto;
    padding-right: 15px;

    /* Firefox scrollbar */
    scrollbar-color: rgba(92, 114, 128, 1);
    scrollbar-width: thin
}

.content p:first-child {
    margin-top: 0px;
}

.content p {
    margin: 10px 0px;
}

.content p img {
    width: 90%;
    margin: 20px auto;
    display: block;
}

.content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(145, 169, 184);
}

.content::-webkit-scrollbar-track {
    background-color: rgba(228, 228, 236, 1);
    border-radius: 3px;
}

.heading {
    margin: 30px 0px 0px;
}

.content .heading h2 {
    margin: 0px;
    font-size: 28px;
}

.content .heading h3 {
    margin: 0px;
    font-size: 24px;
}

.content .heading i {
    font-size: 40px;
    margin-right: 10px;
}

/* modern styling for quoted text, similar to medium */
.content .quotedtext {
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

/* line break before references at the end */
.content hr {
    margin-top: 30px;
    color: #ccc;
}

/* do not leave more space between lines when using subscript */
.content sup {
    line-height: 0px;
}

@media (max-width: 768px) and (orientation: portrait) {
    .content {
        width: 90vw;
        margin: 12px;
        font-size: 17px;
        line-height: 26px;
        padding-right: 10px;
    }

    .content .heading h2 {
        font-size: 22px;
    }

    .content .heading h3 {
        font-size: 19px;
    }

    .content .heading i {
        font-size: 28px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 500px),
only screen and (orientation: landscape) and (hover: none) and (pointer: coarse) {
    body:not(.home-page) .content {
        align-self: stretch;
        width: auto;
        max-width: none;
        margin: 8px 12px 12px 56px;
        padding-left: 0;
        font-size: 20px;
        line-height: 30px;
    }

    body:not(.home-page) .content .heading h2 {
        font-size: 28px;
    }

    body:not(.home-page) .content .heading h3 {
        font-size: 24px;
    }

    body:not(.home-page) .content .heading i {
        font-size: 40px;
    }
}
