.track {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 25px;
    margin: 30px 0;
    align-items: stretch;
    margin-top: 50px;
}

.track-audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-title {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.7;
    text-align: left;
}

.track-notes {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    opacity: 0.9;
    padding-left: 25px;
    border-left: 2px solid rgba(92, 114, 128, 0.35);
}


.track:nth-child(even) {
    flex-direction: row;
}

.track:nth-child(even) .track-title {
    text-align: right;
}

.track:nth-child(even) .track-notes {
    padding-left: 0px;
    padding-right: 25px;
    border-left: none;
    border-right: 2px solid rgba(92, 114, 128, 0.35);
}