.track {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 25px;
    margin: 30px 0;
    align-items: stretch;
    margin-top: 50px;
}

.track-audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-title {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.7;
    text-align: right;
}

.track-notes {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    opacity: 0.9;
    padding-right: 25px;
    border-right: 2px solid rgba(92, 114, 128, 0.35);
}


.track:nth-child(even) {
    flex-direction: row;
}

.track:nth-child(even) .track-title {
    text-align: left;
}

.track:nth-child(even) .track-notes {
    padding-right: 0px;
    padding-left: 25px;
    border-right: none;
    border-left: 2px solid rgba(92, 114, 128, 0.35);
}

@media (max-width: 768px) {
    .track {
        flex-direction: column;
        row-gap: 12px;
        margin: 30px 0;
    }

    .track-audio {
        align-items: center;
        margin-top: 15px;
    }

    .track-title {
        font-size: 15px;
        line-height: 20px;
        text-align: left;
    }

    .track-notes {
        font-size: 17px;
        line-height: 26px;

        padding-left: 0;
        padding-right: 0;
        border-left: none;
        border-right: none;

        padding-bottom: 20px;
        border-bottom: 2px solid rgba(92, 114, 128, 0.35);
    }

    .track:nth-child(even) {
        flex-direction: column;
        row-gap: 12px;
        margin: 30px 0;
    }

    .track:nth-child(even) .track-title {
        font-size: 15px;
        line-height: 20px;
        text-align: left;
    }

    .track:nth-child(even) .track-notes {
        font-size: 17px;
        line-height: 26px;

        padding-left: 0;
        padding-right: 0;
        border-left: none;
        border-right: none;

        padding-bottom: 20px;
        border-bottom: 2px solid rgba(92, 114, 128, 0.35);
    }
}