.top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

@media only screen and (max-width : 768px) {
    .top {
        flex-direction: column;
    }
}

@media only screen and (orientation: landscape) and (max-height: 500px),
only screen and (orientation: landscape) and (hover: none) and (pointer: coarse) {
    body:not(.home-page) .top {
        position: absolute;
        top: 8px;
        left: 10px;
        width: auto;
        margin: 0;
        z-index: 1200;
    }

    body:not(.home-page) business-card {
        display: none;
    }
}
